# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JavaScript
5. Java
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. TensorFlow
4. Pandas
5. PyTorch
6. SciPy
7. Scikit-Learn
8. Matplotlib

| Data Science Tools |
| ------------------ |
| SAS                |  
| Apache Spark       |
| BigML              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
- Learned popular languages in Data Science
- Learned libraries used in Data Science
- Learned tools used in Data Science
- Evaluated arithmetic expressions in Python

## Author
Lakshay .